# Ignorar tudo por padrão na raiz
*

# Permitir apenas a pasta controle-producao-custos
!controle-producao-custos/
!controle-producao-custos/**

# Ignorar dependências, builds e pastas locais do aplicativo
controle-producao-custos/node_modules/
controle-producao-custos/www/
controle-producao-custos/dist/
controle-producao-custos/.gradle/
controle-producao-custos/package-lock.json

# Permitir a pasta do GitHub Actions
!.github/
!.github/**

# Permitir o próprio .gitignore
!.gitignore
